* {
    box-sizing: border-box;
}

/*img {
    width: 100%
}*/

/*body {
    padding-top: 70px;
}*/

body {
    flex-direction: column;
}

header {
    display: flex;
}

.graybar {
    width: 100%;
    background-color: rgb(204, 206, 207);
    position: fixed;
    margin-top: 0px;
    /*display: flex;*/
    /*margin: 0px;*/
}

main h1 {
    margin: 0px;
}

main {
    padding-top: 80px;
}

.redbar {
    width: 1000px;
    margin: 0 auto;
    background-color: red;
    height: 5px;
}

header ul {
    display: -webkit-flex;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    padding-left: 200px;
    list-style: none;
}

.designco {
    color: black;
    padding-right: 10px;
}

.redhome {
    color: red;
}

.searchbutton {
    padding-left: 480px;
    width: 5vw;
}

header li {
    padding-left: 10px;
}

.headingbox {
    background-color: white;
    color: rgb(52, 59, 55);
}

main h1 {
    padding: 10px;
}

.detailsline {
    padding: 10px;
}

main {
    /*justify-content: center;
    align-items: center;*/
    margin: 0 auto;
    text-align: center;
    color: rgb(59, 60, 60);
    padding-bottom: 20px;
}

.wrapper {
    width: 68vw;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

.wrapper img {
    width: 100%;
}

.column1 {
    flex-direction: column;
    display: flex;
    flex: 1.99;
    padding-right: 10px;
}

.col1row1 {
    padding-bottom: 10px;
}

.col1row2 {
    display: flex;
}

.col1row2a {
    flex: 1.2;
    padding-right: 10px;
}

.col1row2b {
    flex: 1.8;
}

.column2 {
    flex: 1.01;
    flex-direction: column;
}

.col2row1 {
    padding-bottom: 10px;
}

.col2row2 {

}

.innercolumnrow {
    display: -webkit-flex;
    /*padding: 10px;*/
    padding: 5px;
}

.bottumtext {
    width: 62vw;
    display: flex;
    /*flex-wrap: wrap;*/
    margin: 0 auto;
    /*columns: 2;*/
    font-size: 11px;
    flex: 6;
    /*padding: 10px;*/
    /*margin: 5px;*/
}

.shortparagraph {
    flex: 1.05;
    width: 30px;
}

.shortparagraphrow1 {
    color: red;
    font-weight: bolder;
    /*text-align: left;*/
}

.shortparagraphrow2 {
    /*text-align: left;*/
    color: #494949;
    padding-right: 5px;
    /*word-wrap: normal;*/
}

.longparagraph {
    flex: 4.95;
    color: #494949;
    padding-right: 10px;
}

.longparagraphrow1 {
    font-weight: bold;
}

.longparagraphrow2 {
    columns: 3
}
